# 白名單模式：先忽略全部，再放行指定路徑
/*
!/.gitignore
!/cimg-rs/
!/cimg-cf/

/cimg-rs/*
!/cimg-rs/src/
!/cimg-rs/.gitignore
!/cimg-rs/Cargo.lock
!/cimg-rs/Cargo.toml
!/cimg-rs/README.md
!/cimg-rs/WebView2Loader.dll

/cimg-cf/*
!/cimg-cf/.vscode/
!/cimg-cf/functions/
!/cimg-cf/public/
!/cimg-cf/server/
!/cimg-cf/src/
!/cimg-cf/.gitignore
!/cimg-cf/env.d.ts
!/cimg-cf/index.html
!/cimg-cf/package.json
!/cimg-cf/tsconfig.json
!/cimg-cf/tsconfig.app.json
!/cimg-cf/tsconfig.node.json
!/cimg-cf/tsconfig.worker.json
!/cimg-cf/eslint.config.ts
!/cimg-cf/vite.config.ts
!/cimg-cf/worker-configuration.d.ts
!/cimg-cf/wrangler.jsonc